---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Posts from "@components/Posts.astro";
import Post from "@components/Post.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utilities/sortPosts";
import TagFilterNav from "@components/Filters.astro";

const posts = await getCollection("thoughts");
const nonDraftPosts = sortPosts(posts).filter((post) => !post.data.draft);
---

<Layout title="Digital garden">
  <p>
    This digital garden is where I share reflections, sowing seeds of thought
    that can be cultivated and nutured into fruitful structured writing.
  </p>
  <p>
    Inspired by <a href="https://nesslabs.com/digital-garden-set-up">
      Anne-Laure Le Cunff
    </a>, <a href="https://maggieappleton.com/garden-history">
      Maggie Appleton
    </a> and <a
      href="https://twitter.com/Mappletons/status/1250532315459194880"
    >
      others
    </a>, this is not a chronological blog but an evergreen place where ideas
    can be edited and refined.
  </p>
  <p>
    It is better to work in the open and be comfortable with iterative progress,
    than wait for the big reveal...
  </p>

  <TagFilterNav current="all" />

  <Posts>
    {nonDraftPosts.map((post: CollectionEntry<"thoughts">) => (
      <Post
        slug={`/thoughts/${post.slug}.html`}
        title={post.data.title}
        description={post.data.description}
        lastEdited={post.data.lastEdited}
        drawing={post.data.stage}
        tag={post.data.tag}
      />
    ))}
  </Posts>
</Layout>
