---
import Layout from "../layouts/Layout.astro";
import PortfolioImage from "@components/PortfolioImage.astro";
import cotb from "@images/cotb.png";
import cxpartners from "@images/cxpartners.png";
import bcc from "@images/bcc.jpg";
import invite from "@images/invite.jpg";
import glossaryLarge from "@images/glossary-large.png";
import glossarySmall from "@images/glossary-small.png";
import glossaryComponents from "@images/glossary-components.png";
---

<Layout title="Portfolio">
  <p
    >Although a lot of my work is spent collaborating with awesome designers,
    here are a collection of projects where I took on the role of designer.
  </p>
  <section>
    <h2>Call of the Brave</h2>

    <PortfolioImage
      src={cotb}
      alt="A mock up of the landing page for Call of the Brave. The logo is upfront and center with a prominent call-to-action"
    />
    <p
      >I built the platform for Call of the Brave iteratively. It started life
      as a simple static website that used a crowdfunding plug-in to collect
      pre-orders for t-shirt designs.
    </p><p
      >I used guerilla testing to get feedback on my designs. "Getting out of
      the building" enabled me to understand what people needed from the landing
      pages.
    </p>

    <p
      >The logo was designed by a brand consultant and was also used for tags
      inside the t-shirts. I kept the dimensions of the tag for the logo on the
      homepage.
    </p>

    <p
      >Later iterations of the site were built with Material Design UI
      components.
    </p>
  </section>
  <section>
    <h2>cxpartners microsite</h2>
    <PortfolioImage
      src={cxpartners}
      alt="A mockup of the cxpartners remote labs web pages, it has the value proposition: stay close to customers with our award winning low cost, managed user-research service"
    />
    <p
      >At the start of the pandemic in 2020, I was given a brief to create a
      microsite to promote cxpartners' new remote labs service. Using
      illustrations from our marketing materials, I designed and built a
      one-page site that showed off our new offer.
    </p>

    <p>
      The site is still live: <a href="https://remotelabs.cxpartners.co.uk/"
        >remotelabs.cxpartners.co.uk
      </a>
    </p>
  </section>
  <section>
    <h2>Bristol Central Counselling</h2>
    <PortfolioImage
      src={bcc}
      alt="Screenshot of Jo's site with hero image with fonts matched to the theme and a simple layout."
      hasBorder
    />
    <p
      >Jo reached out to me after she had set up a Wordpress.com website for her
      new Counselling practice as she felt it "didn't look quite right".
    </p>

    <p
      >On a limited budget and constrained by the limitations of the basic
      theme, I made a few tweaks and implemented what Jo hadn't been able to:
    </p>
    <ul>
      <li>I improved the layout and removed unwanted Sidebar elements,</li>
      <li
        >I recreated her banner image using Adobe Photoshop so the font families
        matched the theme,
      </li>
      <li>I replaced the Wordpress footer with a call-to-action.</li>
    </ul>
  </section>
  <section>
    <h2>Recent work — invite</h2>
    <PortfolioImage
      src={invite}
      alt="Helium baloons adrift in the sky as a background to a 40th birthday invitation"
      hasBorder
    />
    <p
      >I still keep my hand in whenever possible. Last year, I designed an
      inivation for a low-key birthday celebration.
    </p>
  </section>
  <section>
    <h2>Recent work — JavaScript Glossary</h2>
    <PortfolioImage
      src={glossaryLarge}
      alt="a Figma design of a glossary website. it has a search bar in a side panel and a list of glossary terms to the right"
      hasBorder
    />
    <p
      >This was a side-project I started to learn how to use Figma. I created
      components, variants and page layouts for a microsite for looking up
      definitions of JavaScript terms.
    </p>
    <PortfolioImage
      src={glossaryComponents}
      alt="Figma components and their variants showing different states"
      hasBorder
    />
    <p>Mobile version of design.</p>
    <PortfolioImage
      src={glossarySmall}
      alt="the mobile version has the search bar in the center below the logo and the scrollable terms below"
      hasBorder
    />
  </section>
  <h2>Next</h2>
  <p
    >Why not read some <a
      href="/digital-garden?tags=all&notes=false&essays=true&reflections=true"
      >thoughts from my digital garden
    </a>?
  </p>
</Layout>
