---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import cotb from "@images/cotb.png";
import cxpartners from "@images/cxpartners.png";
import bcc from "@images/bcc.jpg";
import invite from "@images/invite.jpg";
import glossaryLarge from "@images/glossary-large.png";
import glossarySmall from "@images/glossary-small.png";
import glossaryComponents from "@images/glossary-components.png";
---

<Layout title="Portfolio">
  <p
    >Although a lot of my work is spent collaborating with awesome designers,
    here are a collection of projects where I took on the role of designer.
  </p>
  <section>
    <h2>Call of the Brave</h2>

    <Picture
      src={cotb}
      alt="A mock up of the landing page for Call of the Brave. The logo is upfront and center with a prominent call-to-action"
      class="portfolio"
      widths={[240, 540, 720, cotb.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${cotb.width}px`}
    />
    <p
      >I built the platform for Call of the Brave iteratively. It started life
      as a simple static website that used a crowdfunding plug-in to collect
      pre-orders for t-shirt designs.
    </p><p
      >I used guerilla testing to get feedback on my designs. "Getting out of
      the building" enabled me to understand what people needed from the landing
      pages.
    </p>

    <p
      >The logo was designed by a brand consultant and was also used for tags
      inside the t-shirts. I kept the dimensions of the tag for the logo on the
      homepage.
    </p>

    <p
      >Later iterations of the site were built with Material Design UI
      components.
    </p>
  </section>
  <section>
    <h2>cxpartners microsite</h2>
    <Picture
      src={cxpartners}
      alt="A mockup of the cxpartners remote labs web pages"
      class="portfolio"
      widths={[240, 540, 720, cxpartners.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${cxpartners.width}px`}
    />
    <p
      >At the start of the pandemic in 2020, I was given a brief to create a
      microsite to promote cxpartners' new remote labs service. Using
      illustrations from our marketing materials, I designed and built a
      one-page site that showed off our new offer.
    </p>

    <p>
      The site is still live: <a href="https://remotelabs.cxpartners.co.uk/"
        >remotelabs.cxpartners.co.uk
      </a>
    </p>
  </section>
  <section>
    <h2>Bristol Central Counselling</h2>
    <Picture
      src={bcc}
      alt="Screenshot of Jo's site"
      class="image-with-border portfolio"
      widths={[240, 540, 720, bcc.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${bcc.width}px`}
    />
    <p
      >Jo reached out to me after she had set up a Wordpress.com website for her
      new Counselling practice as she felt it "didn't look quite right".
    </p>

    <p
      >On a limited budget and constrained by the limitations of the basic
      theme, I made a few tweaks and implemented what Jo hadn't been able to:
    </p>
    <ul>
      <li>I improved the layout and removed unwanted Sidebar elements,</li>
      <li
        >I recreated her banner image using Adobe Photoshop so the font families
        matched the theme,
      </li>
      <li>I replaced the Wordpress footer with a call-to-action.</li>
    </ul>
  </section>
  <section>
    <h2>Recent work — invite</h2>
    <Picture
      src={invite}
      alt="Helium baloons adrift in the sky as a background to a 40th birthday invitation"
      widths={[240, 540, 720, invite.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${invite.width}px`}
    />
    <p
      >I still keep my hand in whenever possible. Last year, I designed an
      inivation for a low-key birthday celebration.
    </p>
  </section>
  <section>
    <h2>Recent work — JavaScript Glossary</h2>
    <Picture
      src={glossaryLarge}
      alt="a Figma design of a glossary website"
      class="image-with-border portfolio"
      widths={[240, 540, 720, glossaryLarge.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${glossaryLarge.width}px`}
    />
    <p
      >This was a side-project I started to learn how to use Figma. I created
      components, variants and page layouts for a microsite for looking up
      definitions of JavaScript terms.
    </p>
    <Picture
      src={glossaryComponents}
      alt="Figma components for a glossary website"
      class="image-with-border portfolio"
      widths={[240, 540, 720, glossaryComponents.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${glossaryComponents.width}px`}
    />
    <p>Mobile version of design.</p>
    <Picture
      src={glossarySmall}
      alt="a Figma design of a glossary website"
      class="image-with-border portfolio"
      widths={[240, 540, 720, glossarySmall.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${glossarySmall.width}px`}
    />
  </section>
</Layout>
