---
import PageMeta from "@components/PageMeta.astro";
import Tag from "@components/Tag.astro";
import slugify from "slugify";

const { tag, slug, title, description, lastEdited, drawing } = Astro.props;
---

<style is:global>
  .post p {
    margin-block: 0;
  }
</style>

<li class="post" data-stage={drawing} data-tag={tag} data-post>
  <p>
    <a
      class="font-l"
      href={slug}
      transition:name={title && slugify(title)}
      transition:animate="initial"
    >
      {title}
    </a>
    {tag && <Tag>{tag}</Tag>}
  </p>
  <p transition:name={slugify(description)} transition:animate="initial">
    {description}
  </p>
  <PageMeta
    name={title && slugify(title)}
    lastEdited={lastEdited}
    drawing={drawing}
  />
</li>
